<div>
  <button ng-click="updateInstances()">Refresh</button>
  <table class="instances">
    <tr>
      <th colspan="2">Name</th>
      <th>Zone</th>
      <th>Disk</th>
      <th>Network</th>
      <th>External IP</th>
      <th>Connect</th>
    </tr>
    <tr ng-repeat="instance in allInstances track by $index">
      <!-- https://www.google.com/design/icons/ -->
      <td class="status">
        <span class="status-starting" ng-if="instance.isStarting()">
          <i class="material-icons" alt="Starting">trending_up</i>
        </span>
        <span class="status-running" ng-if="instance.isRunning()">
          <i class="material-icons" alt="Running">check_circle</i>
        </span>
        <span class="status-stopping" ng-if="instance.isStopping()">
          <i class="material-icons" alt="Stopping">trending_down</i>
        </span>
        <span class="status-terminated" ng-if="instance.isTerminated()">
          <i class="material-icons" alt="Terminated">stop</i>
        </span>
      </td>
      <td>
        <a href="https://console.developers.google.com/project/{{project}}/compute/instancesDetail/zones/{{ instance.zone() }}/instances/{{ instance.name() }}">{{ instance.name() }}</a>
      </td>
      <td>{{ instance.zone() }}</td>
      <td ng-show="instance.numDisks() == 0">
        -
      </td>
      <td ng-show="instance.numDisks() == 1">
        <a href="https://console.developers.google.com/project/{{project}}/compute/disksDetail/zones/{{ instance.zone() }}/disks/{{ instance.disk(0).name() }}">{{ instance.disk(0).name() }}</a>
      </td>
      <td ng-show="instance.numDisks() > 1">
        {{ instance.numDisks() }} disks
      </td>
      <td>
        <a href="https://console.developers.google.com/project/{{project}}/networks/details/global/networks/{{ instance.networkName() }}">{{ instance.networkName() }}</a>
      </td>
      <td>{{ instance.externalIP() }}</td>
      <!-- Connect -->
      <td>
        <a class="ssh"
           href="https://cloudssh.developers.google.com/projects/{{project}}/zones/{{ instance.zone() }}/instances/{{ instance.name() }}?authuser=0"
           ng-if="instance.isRunning()"
           target="_blank">
          <button>SSH</button>
        </a>
        <a class="console"
           href="/#/project/{{project}}/compute/instancesDetail/zones/{{ instance.zone() }}/instances/{{ instance.name() }}/console"
           ng-if="instance.isRunning()"
           target="_blank">
          <button>Console</button>
        </a>
      </td>
    </tr>
  </table>
</div>
